<!DOCTYPE html>
<html>
<body>
<form action="/create-user" method="post">
    <input type="text" placeholder="Enter your name" name="loginName"/>
    <input type="text" placeholder="Enter password" name="passwordInput"/>
    <button type="submit">Login</button> <button type="logout">Logout</button>


    <p></p>

    <!--BELOW INPUT - DELETE/HIDE?--
    DON'T WANT TO SHOW INPUT TE
    WANT TO PRINT INVALID TO USER - AFTER PUT PW INPUT THROUGH AND PW CHECK -->
    <input type="text" placeholder=" " name="invalidPassword"/>


</body>
</html>
