<!DOCTYPE html>
<html>
<body>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<p></p>

<form action="/create-message" method="post">
    <input type="text" placeholder="Write a message" name="addMessage" size="40" width="200"/>
    <button type="Submit">Submit</button>
</form>

<h3>Messages by {{name}}</h3>

<ol>{{#messageList}}
    <li>{{message}}</li>
    {{/messageList}}
</ol>

<p></p>

<form action="/edit-message" method="post">
    <input type="text" placeholder="Message #" name="editMessage#"  width="200"/>
    <input type="text" placeholder="Edit message" name="editedMessage" size="40"  width="200"/>
    <button type="Edit">Edit</button>
</form>
<p></p>

<form action="/delete-message" method="post">
    <input type="text" placeholder="Message #" name="deleteMessage#"  width="200"/>
    <button type="Delete">Delete</button>
</form>


</body>
</html>